.swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  border-radius: 10px !important;
  background-color: white !important;
  opacity: 0.5 !important;
  margin: 0 5px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #FFA666 !important;
  opacity: 1 !important;
  width: 40px !important;
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: JuliusSansOne;
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}

@font-face {
  font-family: InknutAntiqua;
  src: url("../fonts/InknutAntiqua-Regular.ttf");
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-quicksand: 'Quicksand', sans-serif;
  --font-julius-sans-one: 'JuliusSansOne', sans-serif;
  --font-inknut-antiqua: 'InknutAntiqua', serif;
}

html, body {
  overflow-x: hidden;
}
